# Standalone GSM Module Configuration
GSM_PORT=3310
PORT=3310

# Hardware Gateway Configuration (GoIP)
GOIP_IP=192.168.8.190
GOIP_USER=admin
GOIP_PASS=admin
GOIP_LINE=1

# Mock Mode (Set to true to test without physical hardware)
USE_MOCK_GATEWAY=false

# Anti-Ban Jitter Delay (Seconds)
GSM_MIN_DELAY_SEC=5
GSM_MAX_DELAY_SEC=10
GSM_DAILY_LIMIT=500
